---
name: Testerhausen
command:
  LDIRECT: 1
  IBDATE: "{{ data.EMISSION_START_YYYY }}{{ data.EMISSION_START_MM }}{{ data.EMISSION_START_DD }}"
  IBTIME: "{{ data.EMISSION_START_ZZ }}0000"
  IEDATE: "{{ data.SIMULATION_END_YYYY }}{{ data.SIMULATION_END_MM }}{{ data.SIMULATION_END_DD }}"
  IETIME: "{{ data.SIMULATION_END_ZZ }}0000"
  LOUTSTEP: 10800
releases:
  NSPEC: 1
  SPECNUM_REL: 16
  IDATE1: "{{ data.EMISSION_START_YYYY }}{{ data.EMISSION_START_MM }}{{ data.EMISSION_START_DD }}"
  ITIME1: "{{ data.EMISSION_START_ZZ }}0000"
  IDATE2: "{{ data.EMISSION_END_YYYY }}{{ data.EMISSION_END_MM }}{{ data.EMISSION_END_DD }}"
  ITIME2: "{{ data.EMISSION_END_ZZ }}0000"
  LON1: 8.2284
  LAT1: 47.5519
  Z1: 100
  ZKIND: 1
  MASS: "2.8800E10"
  COMMENT: Testerhausen
